<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning" class="centrado">JAVASCRIPT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-title>JavaScript</ion-card-title>
        <br>
        <img alt="Silhouette of mountains" src="../../assets/img/Js.jpg" width="750"/>
        <ion-card-header>
          <ion-card-subtitle>JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Las funciones de JavaScript pueden mejorar la experiencia del usuario de un sitio web. Como lenguaje de scripting del lado del servidor, se trata de una de las principales tecnologías de la World Wide Web. Por ejemplo, al navegar por Internet, en cualquier momento en el que vea un carrusel de imágenes, un menú desplegable “click-to-show” (clic para mostrar), o cambien de manera dinámica los elementos de color en una página web, estará viendo los efectos de JavaScript.
        </ion-card-content>
      </ion-card>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item >
      <ion-select placeholder="JavaScipt - Herramientas">
        <ion-select-option value="apples">HTML</ion-select-option>
        <ion-select-option value="oranges">CSS</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>¿Para qué se utiliza JavaScript?</ion-card-title>
          <br>
          <ion-card-subtitle>Las páginas web eran estáticas, similares a las páginas de un libro. Una página estática mostraba principalmente información en un diseño fijo y no todo aquello que esperamos de un sitio web moderno.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          A medida que el lenguaje evolucionó, los desarrolladores de JavaScript establecieron bibliotecas, marcos y prácticas de programación y comenzaron a utilizarlo fuera de los navegadores web.
          En la actualidad, puede utilizar JavaScript para el desarrollo tanto del lado del cliente
          como del lado del servidor. En las siguientes subsecciones se presentan algunos casos de uso comunes:
          Anteriormente, las páginas web eran estáticas, similares a las páginas de un libro.
          Una página estática mostraba principalmente información en un
          diseño fijo y no todo aquello que esperamos de un sitio web moderno.
          JavaScript surgió como una tecnología del lado del navegador
          para hacer que las aplicaciones web fueran más dinámicas. Por medio de JavaScript,
          los navegadores eran capaces de responder a la interacción de los usuarios y cambiar la distribución
          del contenido en la página web.
        </ion-card-content>

        <img alt="Silhouette of mountains" src="../../assets/img/javaS.png" width="750"/>
      </ion-card>
    </ion-card-header>
  </ion-card>

</ion-content>
