<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning" class="centrado">INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="centrado">
      <br>
      <ion-card-title >INDUSTRIAS 4.0</ion-card-title>
      <br>
      <ion-card-subtitle >La Cuarta Revolución Industrial,
        también conocida como Industria 4.0 o Revolución industrial etapa cuatro,
        es la cuarta etapa industrial más importante que se ha verificado
        desde el inicio de la revolución industrial en el siglo xviii.
        Esta cuarta etapa se caracteriza por una fusión de tecnologías
        actualmente en prueba o en desarrollo, lo que está desintegrando las fronteras
        entre las esferas física, digital, y biológica.1​</ion-card-subtitle>
      <br>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header class="centrado">
      <br>
      <ion-card-title >GENERACION 4.0</ion-card-title>
      <ion-card-subtitle>Industria 4.0 no es solo invertir en tecnología y herramientas nuevas
        para mejorar la eficiencia en la manufactura; se trata de revolucionar
        la manera en la que opera y crece toda su empresa. Este recurso le proporcionará
        una descripción detallada sobre el tema de Industria 4.0 e IIoT.</ion-card-subtitle>
      <br>
      <img alt="Silhouette of mountains" src="../../assets/img/2.png" width="400" height="300"/>
      <br>
      <br>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <br>
    <ion-card-header class="centrado">
      <ion-card-title >COMO ES EL DIA AL DIA?</ion-card-title>
      <ion-card-subtitle> La Industria 4.0 empodera a los dueños de empresas
        para controlar y comprender mejor cada aspecto de su operación y les permite aprovechar
        datos instantáneos para aumentar la productividad, mejorar los procesos e impulsar el crecimiento.
        Se interconecta con sistemas de back-end, como la planificación de recursos empresariales (ERP),
        para brindar a las empresas un nivel de visibilidad y control sin precedentes. En definitiva,
         la Industria 4.0 es una parte importante de la transformación digital de cualquier empresa.
      </ion-card-subtitle>
      <br>
      <img alt="Silhouette of mountains" src="../../assets/img/4.png" width="400" height="300"/>
    </ion-card-header>
  </ion-card>

</ion-content>
