<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning" class="centrado">TECNOLOGIAS EN 4.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="centrado">
      <br>
      <ion-card-title >HERRAMIENTAS PARA 4.0</ion-card-title>
      <br>
      <ion-card-subtitle >La Industria 4.0 es el resultado de la
        introducción de tecnologías - computación en la nube, inteligencia artificial,
        internet de las cosas, robótica,
        entre otras - en los procesos industriales
        para automatizar y conectar toda la línea de producción.1​</ion-card-subtitle>
      <br>
      <ion-card-subtitle>La computación en la nube, el Internet de las Cosas (IoT),
        la inteligencia artificial, la impresión 3D y todos estos avances tecnológicos
        transformaron la forma en que las máquinas se comunican,
        optimizando el proceso de producción, que ahora puede ser aún
        más eficiente, ágil, económico y autónomo.1​</ion-card-subtitle>
      <br>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header class="centrado">
      <br>
      <ion-card>
        <img alt="Silhouette of mountains" src="../../assets/img/3.png" />
        <ion-card-header>
          <ion-card-title >TECNOLOGIAS</ion-card-title>
        </ion-card-header>

        <ion-card-subtitle color="warning">
          Las tecnologías de la industria 4.0 permiten una serie de cambios en la productividad de las empresas
           y sus principales características son, en resumen:
        </ion-card-subtitle>
        <br>
        <ion-card-subtitle class="">
          <p><strong>1.- La personalización en masa: La nueva industria permite una producción más flexible y una personalización asequible.</strong></p>
          <p><strong>2.- Trazabilidad y mantenimiento predictivo: Las tecnologías 4.0 permiten el monitoreo en tiempo real de dispositivos. </strong></p>
          <p><strong>3.- Virtualización: Los sensores, los datos en la nube y la conectividad permiten gestionar todos los procesos a distancia.</strong></p>
          <p><strong>4.- Descentralización: Como las máquinas son inteligentes, pueden autorregularse en función de los cambios y la demanda del mercado.</strong></p>
          <p><strong>5.- SaaS: En la Industria 4.0 los programas informáticos se ofrecen como servicios en lugar de como productos, alojados en la nube y ofrecidos.</strong></p>
          <p><strong>7.- Intercomunicación: Los sistemas y máquinas están conectados entre sí y pueden comunicarse.</strong></p>
          <br>
        </ion-card-subtitle>
      </ion-card>
      <br>
      <br>
      <ion-card-title color="warning">COMO ES EL DIA AL DIA?</ion-card-title>
      <ion-card-subtitle> La Industria 4.0 empodera a los dueños de empresas
        para controlar y comprender mejor cada aspecto de su operación y les permite aprovechar
        datos instantáneos para aumentar la productividad, mejorar los procesos e impulsar el crecimiento.
        Se interconecta con sistemas de back-end, como la planificación de recursos empresariales (ERP),
        para brindar a las empresas un nivel de visibilidad y control sin precedentes. En definitiva,
         la Industria 4.0 es una parte importante de la transformación digital de cualquier empresa.
      </ion-card-subtitle>
      <br>
      <img alt="Silhouette of mountains" src="../../assets/img/4.png" width="370" height="300"/>
    </ion-card-header>
  </ion-card>

</ion-content>

