<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/yo.jpg" />
    <ion-card-header>
      <ion-card-title>Diego Jair Pérez Romero</ion-card-title>
      <ion-card-subtitle>ID: 200396</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>200396@utags.edu.mx</p>
      <p>https://youtu.be/PPVZkShCQD8</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../../assets/img/yo.jpg" />
    <ion-card-header>
      <ion-card-title>Diego Jair Pérez Romero</ion-card-title>
      <ion-card-subtitle>ID: 200396</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>200396@utags.edu.mx</p>
      <p>https://youtu.be/PPVZkShCQD8</p>
    </ion-card-content>
  </ion-card>

</ion-content>
