/* HouseCatalog.css */
.house-catalog-container {
  padding: 20px;
  margin-left: 250px; /* Ajusta este valor según el ancho del sidebar */
}

.house-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.house-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  margin: 10px;
}

.house-card:hover {
  transform: translateY(-10px);
}

.house-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.house-card h3 {
  margin: 10px 0;
}

.house-card p {
  margin: 5px 0;
}

.house-card button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.house-card button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .house-catalog-container {
    margin-left: 0;
    padding: 10px;
  }

  .house-card {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
