/* frontend/src/components/styles/ResetPassword.css */

.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .reset-password-card {
    width: 400px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .reset-password-card h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .reset-password-card .input-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .reset-password-card .input-group input {
    width: calc(100% - 40px);
    padding: 10px 20px 10px 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .reset-password-card .input-group .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #007bff;
  }
  
  .reset-password-card button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reset-password-card button:hover {
    background-color: #0056b3;
  }
  
  .reset-password-card p {
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
  