<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning" class="centrado">FRONTEND Y BACKEND</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-title>¿Qué es mejor Back-End o Front-End?</ion-card-title>
        <br>
        <img alt="Silhouette of mountains" src="../../assets/img/frond.png" width="450"/>
        <ion-card-header>
          <ion-card-subtitle>Ninguna es más importante que la otra, se complementan y necesitan mutuamente para funcionar, ya que por una parte, los sitios web deben ser bonitos y amigables y por la otra parte ese mismo sitio debe ser funcional y debe poder realizar operaciones. </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          En el front-end se necesitan personas con capacidad creativa y en el back-end se necesitan personas con muy buena lógica para resolver problemas.
        </ion-card-content>
      </ion-card>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-title>¿Qué es frontend?</ion-card-title>
        <br>

        <ion-card-header>
          <ion-card-subtitle>El frontend es la parte del desarrollo web que se dedica a la parte frontal de un sitio web, en pocas palabras del diseño de un sitio web, desde la estructura del sitio hasta los estilos como colores, fondos, tamaños hasta llegar a las animaciones y efectos. </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Es esa parte de la página con la que interaccionan los usuarios de la misma, es todo el código que se ejecuta en el navegador de un usuario, al que se le denomina una aplicación cliente, es decir, todo lo que el visitante ve y experimenta de forma directa.
        </ion-card-content>
        <ion-card-content>
          Un front-end, es la persona que se dedica básicamente al diseño web, pero esto no significa que no toque código, tanto el front-end como el back-end están en contacto con código todo el tiempo.
        </ion-card-content>
        <ion-card-content>
          Dentro del área de front-end se trabaja con lenguajes mayormente del lado del cliente, como:
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../assets/img/html.png" />
              </ion-thumbnail>
              <ion-label>HTML</ion-label>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../assets/img/css.PNG" />
              </ion-thumbnail>
              <ion-label>CSS</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../assets/img/Js.jpg" />
              </ion-thumbnail>
              <ion-label>Javascript</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-title>HTML y CSS son lenguajes de marcado y estilo. Javascript es un lenguaje de programación.</ion-card-title><br>
        <img alt="Silhouette of mountains" src="../../assets/img/que.PNG" width="350"/><br><br>
      </ion-card>
    </ion-card-header>

  </ion-card>
  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-title>¿Qué es backend?</ion-card-title>
        <br>

        <ion-card-header>
          <ion-card-subtitle>Mientras que el frontend es la capa de programación ejecutada en el navegador del usuario, el backend procesa la información que alimentará el frontend de datos.</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Es la capa de acceso a los datos, ya sea de un software o de un dispositivo en general, es la lógica tecnológica que hace que una página web funcione, lo que queda oculto a ojos del visitante.
        </ion-card-content>
        <ion-card-content>
          El backend de una solución, determina qué tan bien se ejecutará la aplicación y qué experiencia, positiva o negativa, obtendrá el usuario de su uso.
        </ion-card-content>
        <ion-card-content>
          Trabajar en este apartado supone algo totalmente diferente al frontend, ya que exige el dominio de otros términos de programación, lenguajes que requieren una lógica, ya que esta área es también la encargada de optimizar recursos, de la seguridad de un sitio y otros factores.
        </ion-card-content>
        <ion-card-content>
          El flujo de trabajo de un backend consiste en darle funciones a un sitio; mientras que el frontend hace un sitio estático, el backend después le da funciones y adapta el sistema programado a ese sitio web.
        </ion-card-content>
        <ion-card-content>
          Otras funciones que se gestionan son:
        </ion-card-content>

        <ion-card-content >
          <ion-list>
            <ion-item>
              <ion-label class="centrado">Creación de funciones que simplifiquen el proceso de desarrollo.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="centrado">Acciones de lógica.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="centrado">Conexión con bases de datos.</ion-label>
            </ion-item>
            <ion-item class="centrado" lines="none">
              <ion-label>Uso de librerías del servidor web (un ejemplo puede ser para implementar temas de caché).</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>

        <ion-card-title>Además, debe velar por la seguridad de los sitios web y optimizar al máximo los recursos para que las páginas sean ligeras.</ion-card-title><br>
        <img alt="Silhouette of mountains" src="../../assets/img/accion.PNG" width="350"/><br><br>
      </ion-card>
    </ion-card-header>

  </ion-card>

  <ion-card>
    <ion-card-header class="centrado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ventajas del frontend y el backend</ion-card-title>
          <br>
        </ion-card-header>

        <ion-card-content>
          <strong>1. </strong>Mayor escalabilidad
          <ion-item lines="none">
            Se trata de un entorno mucho más escalable, al estar separado, es posible que una de las dos partes necesite más recursos en un algún momento, por lo que se hace más sencillo y eficaz dividir los recursos.
          </ion-item>
        </ion-card-content>
        <ion-card-content>
          <strong>2. </strong>Distintos equipos de desarrollo
          <ion-item class="centrado" lines="none">
            Al tener estas dos partes que se diferencian, puedes tener en tu equipos diversos perfiles dedicados únicamente a su parte del trabajo.
          </ion-item>
        </ion-card-content>
        <ion-card-content>
          <strong>3. </strong>Ampliación de plataformas disponibles
          <ion-item class="centrado" lines="none">
            La API de comunicación ya la tendrías desarrollada y quizás solamente requeriría de pequeños ajustes, además, en el proceso de desarrollo, la parte front de tu web existente, no se vería afectada en ningún momento.
          </ion-item>
        </ion-card-content>
        <ion-card-content>
          <strong>4. </strong>Las migraciones y actualizaciones son más sencillas
          <ion-item class="centrado" lines="none">
            Normalmente, cuando ya está desarrollado el backend, lo que más se suele cambiar es la parte frontend, por esa razón, si te piden actualizaciones de diseño en la web o cambio de alojamiento, es más fácil, ya que la parte de servidor siempre va a estar funcionando por muchas actualizaciones que se tengan en la parte visual.
          </ion-item>
        </ion-card-content>

        <img alt="Silhouette of mountains" src="../../assets/img/venta.PNG" width="450"/><br><br>
      </ion-card>
    </ion-card-header>
  </ion-card>

</ion-content>
