<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning" class="centrado">GITHUB COMANDOS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="centrado">
  <img alt="Silhouette of mountains" src="../../assets/img/comandos.jpg" />
    <ion-card-title>Desde que existe una gran variedad de comandos que puedes utilizar, dominar Git requiere tiempo. Pero algunos comandos se utilizan más frecuentemente. Por tanto, explicaré los 10 comandos de Git más usados que todo desarrollador debería de conocer.  </ion-card-title>
    <p><strong>1. Git clone</strong></p>
    <ion-card-content>Git clone es un comando para descargarte el código fuente existente desde un repositorio remoto (como Github, por ejemplo). En otras palabras, Git clone básicamente realiza una copia idéntica de la última versión de un proyecto en un repositorio y la guarda en tu ordenador.</ion-card-content>
    <p><strong>2. Git branch</strong></p>
    <p><strong>3. Git checkout</strong></p>
    <p><strong>4. Git status</strong></p>
    <p><strong>5. Git add</strong></p>
    <p><strong>6. Git commit</strong></p>
    <p><strong>7. Git push</strong></p>
    <p><strong>8. Git pull</strong></p>
    <p><strong>9. Git revert</strong></p>
    <p><strong>10. Git merge</strong></p>
</ion-content>
